:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul:#167BF7;
    --cor-de-fundo:#00030C;
    --fonte-principal:'Inter';
    --botao-azul-ativo:#105fbe;
}

body {
    background-color: var(--cor-de-fundo);
    color:var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size:16px;
    font-weight: 400;
}

* {
    margin:0;
    padding: 0;
}

.principal {
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height:100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container__caixa {
    margin: 8em 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius:10px;
    padding: 1em;
    color: var(--branco-principal);
    display:block;
    text-decoration: none;
    margin-bottom: 1em;
    transition: 100ms;
}

.container__botao:hover {
    scale: 1.1;
}

.container__botao:active {
    background-color: var(--botao-azul-ativo);
}

.botao_secundario {
    background-color: transparent;
    border:2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color:var(--cinza-secundario);
}

.secundario {
    align-items: center;
    margin: 0 9em;
}

.secundario__imagem {
    width:80%;
    padding:2em
}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
    color:var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    font-size:16px;
    font-weight: 400;
    color:var(--cinza-secundario);
    opacity: 80%;
}

.secundario__botao  {
    display: inline-block;
    margin-top: 1em;
}

.dispositivos__titulo{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 1.5em;
}

.dispositivos__lista {
    display: flex;
    justify-content: space-evenly;
    align-items:flex-end;
    text-align:center;
    font-size: 32px;
    font-weight: 700;
    list-style-type: none;
    margin-bottom: 5em;
}

.rodape {
    text-align: center;
    margin:0 3em 3em 3em;
}

.rodape__logo {
    margin-bottom: 2em;
}

.rodape__lista {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.lista__link a {
    color: var(--branco-principal);
    font-size: 16px;
    font-weight: 400;    
    text-decoration: none;
    transition:100ms;
}

.lista__link a:hover {
    font-size: 17px;
    font-weight: 600;
}

.lista__link a:active {
    color:var(--cinza-secundario);
}

.rodape__texto {
    color: var(--cinza-secundario);
    font-size: 14px;
    font-weight: 400;
    margin:2em 2em;
}

